
    <div id="header1">
        <div id="left">
          <a href="daddesh.html"> <img src="assets/images/logo.png" /> </a>
        </div>
  
        <div id="right">
          <ul>
            <li><a routerLink="addproduit" class="custom_btn"> add </a></li>
            <li><a href="" class="custom_btn"> Boutique </a></li>
            <li><a href="" class="custom_btn"> Blog </a></li>
            <li><a href="" class="custom_btn"> Contact </a></li>
            <li><a href="" class="custom_btn"> CCM </a></li>
            <li>
              <a routerLink="panier"> <img src="assets/images/panier.png" /> </a>
            </li>
            <li>
              <a routerLink="profile">  <img onError="this.hidden='true'" style="height: 40px;width: 40px;"   class="rounded-circle" src="{{image }}"  /> </a>
            </li>
            <li>
              <a href="favories.html"> <img src="assets/images/favpage.png" /> </a>
            </li>
            <li>

              <a routerLink="profile"  (click)="signout()">  <img src="assets/images/recherche.png" /> </a>
            </li>
          </ul>
        </div>
      </div>